/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Oct 5, 2023, 1:09:32 PM
    Author     : mokda
*/
#map {
    height: 500px;
}
.container-fluid{
    height:100%;
}
/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-map-control-button {
    /*background-color: #fff;
    //border: 0;
    //border-radius: 2px;*/
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer
}

#pac-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
    padding: 5px;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;
    line-height: 30px;
    left:0px;
}

#pac-input {
    width: 250px;
}

#infowindow-content .title {
    font-weight: bold;
}

#map #infowindow-content {
    display: inline;
}

[class$=api-load-alpha-banner] {
    display: none;
}
.pac-item{
    padding: 5px 5px 5px 35px;
    height: 26px;
    line-height: 26px;
    border-top: 1px solid #d9d9d9;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#carpark{
    flex-wrap: nowrap;
    position: relative;
    overflow-x:scroll;
    overflow-y:hidden;
}
#carpark>div>div:focus {
    background-color: Aqua;
}
.carparkDetail{
    font-size:18px;
}
#bodyContent>p{

    font-size:14px;
}
#bodyContent>button{
    

    font-size:14px;
}
.btnIcon{
    margin-right: 10px;
}
#alertsContainer{
    position:fixed;
    top: 50px;
    left: 50%;
    z-index:9999;
}

.chartFlex{
    flex:1
}